<!DOCTYPE html>

<html lang="en">
  <head>
      <%- include ('partials/head'); %>
  </head>
  <body class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1>Hello <%= name %> !</h1>
            <form action="/metrics" method="post">
              <col>
                <input id="date" type="date" name="metric_date"/>
              <col/>
              <col>
                <input id="metricValue" type="number" name="metric_value"/>
              <col/>
              <col>
                <button class="btn btn-success" id="sendMetrics" onClick=""> Send Values</button>
              <col/>
              <col>
                <small  class="form-text text-muted">sending a date that already exist modify it's value !</small>
              <col/>
            </form>
            <div>
              <h2> All your metrics are here : </h2>
              <canvas style="margin-top: 80px; display: block; height: 624px; width: 1110px;" id="line-chart" width="800" height="780"></canvas>            </div>
              <h2> List of metrics :</h2>
              
            </div>
            <div id="metrics"></div>
            <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
              Logout
            </button>
        </div> 
        <script>
          window.onload = function() {
            console.log("here");
            
            new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
              labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
              datasets: [
                {
                  label: "Population (millions)",
                  backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                  data: [2478,5267,734,784,433],
                  fill: false,
                }
            ]},
            options: {
              title: {
                display: true,
                text: 'test'
              }
            }
          });
          }
        </script> 
    </body>
    
</html>