<!DOCTYPE html>

<html lang="en">
  <head>
      <%- include ('partials/head'); %>
  </head>
  <body class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1>Hello <%= name %> !</h1>
            <form action="/metrics" method="post">
              <col>
                <input id="date" type="date" name="metric_date"/>
              <col/>
              <col>
                <input id="metricValue" type="number" name="metric_value"/>
              <col/>
              <col>
                <button class="btn btn-success" id="sendMetrics" onClick=""> Send Values</button>
              <col/>
              <col>
                <small  class="form-text text-muted">sending a date that already exist modify it's value !</small>
              <col/>
            </form>
            <div>
              <h2> All your metrics are here : </h2>
              <canvas id="bar-chart" width="800" height="450"></canvas>
            </div>
              <h2> List of metrics :</h2>
              
            </div>
            <div id="metrics"></div>
            <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
              Logout
            </button>
        </div> 
        <script>
          new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
              labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
              data: { 
                  data: [86,114,106,106,107,111,133,221,783,2478],
                  label: "Africa",
                  borderColor: "#3e95cd",
                  fill: false
                }
            },
            options: {
              title: {
                display: true,
                text: 'Metrics displayed as '
              }
            }
          });
        </script> 
    </body>
    
</html>